@import '_*'
@import 'App/**/*'
@import 'themes/*'

/*폰트 추가*/
@font-face
    font-family 'Goyang'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff')
    font-weight normal
    font-style normal
@font-face
    font-family 'GimpoGothicBold00'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicBold00.woff') format('woff')
    font-weight normal
    font-style normal
@font-face 
    font-family 'Katuri'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff')
    font-weight normal
    font-style normal
@font-face 
    font-family 'MaplestoryOTFLight'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff')
    font-weight normal
    font-style normal
@font-face 
    font-family 'OTWelcomeRA'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2')
    font-weight normal
    font-style normal
@font-face 
    font-family 'OTWelcomeBABold'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2')
    font-weight normal
    font-style normal


*, *::before, *::after
  outline none
  word-break break-all

html,
h2, h3, h4, h5, :not(pre) > code,
input, textarea
  font-family 'OTWelcomeRA', sans-serif

h1
  font-family 'OTWelcomeBABold', sans-serif
  
html
  color var(--h-color)
  background-color var(--h-color-background-level-1)
  body
    overflow-x hidden
  ins
    all unset
  ul, ol
    list-style none
    margin 0
    padding 0
  a
    color var(--h-color-blurrier)
    text-decoration none !important
    &:hover
      color var(--h-color)
      transition-duration .2s
  a, button
    pointer-events: initial !important
