@import '_*'
@import 'App/**/*'

/*폰트 추가*/
@font-face
    font-family 'Goyang'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff')
    font-weight normal
    font-style normal
@font-face
    font-family 'GimpoGothicBold00'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicBold00.woff') format('woff')
    font-weight normal
    font-style normal
@font-face 
    font-family 'Katuri'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff')
    font-weight normal
    font-style normal
@font-face 
    font-family 'MaplestoryOTFLight'
    src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff')
    font-weight normal
    font-style normal


*, *::before, *::after
  outline none
  word-break break-all

html,
h2, h3, h4, h5, :not(pre) > code,
input, textarea
  font-family 'Katuri', sans-serif
  font-weight 500 !important

h1
  font-family 'Katuri', sans-serif
  font-weight 500 !important
  
html
  color var(--h-color)
  background-color var(--h-color-background-level-1)
  body
    overflow-x hidden
  ins
    all unset
  ul, ol
    list-style none
    margin 0
    padding 0
  a
    color var(--h-color-blurrier)
    text-decoration none !important
    &:hover
      color var(--h-color)
      transition-duration .2s
  a, button
    pointer-events: initial !important

/*light, dark 테마 커스텀화*/
html[data-theme='light']
  --h-color: black
  --h-color-blur: alpha(black, .7)
  --h-color-blurrier: #414041
  --h-color-blurriest: alpha(black, .1)
  --h-color-background-level-1: white
  --h-color-background-level-2: #F7F6F7
  --h-color-background-level-3: #E6E1E5
  --h-color-background-level-4: alpha(#FBFBFE, .6)
  --h-color-background-level-5: #e9e9fa
  --h-color-theme: #f0506e
  --h-button-color: black
  --h-button-color-background: white
  --h-button-color-hover: white
  --h-button-color-hover-background: black
  --h-nav-color-background: #ffffffaa
  --h-nav-color-gradient-level-1:#4864DA33
  --h-nav-color-gradient-level-2:#da48644d
  --h-nav-color-gradient-level-3:#7b68ee33
  
  

html[data-theme='dark']
  --h-color alpha(white, .9)
  --h-color-blur alpha(white, .8)
  --h-color-blurrier alpha(white, .6)
  --h-color-blurriest alpha(white, .4)
  --h-color-background-level-1 #1e1f21
  --h-color-background-level-2 #292a2d
  --h-color-background-level-3 #353638
  --h-color-background-level-4 rgba(30, 31, 33, .6)
  --h-color-background-level-5: #5b5bda
  --h-color-theme #5db0d7
  --h-button-color alpha(white, .9)
  --h-button-color-background #353638
  --h-button-color-hover alpha(white, .9)
  --h-button-color-hover-background #353638
  --h-nav-color-background: #353638be
  --h-nav-color-gradient-level-1:#4864DAcc
  --h-nav-color-gradient-level-2:#da4864cc
  --h-nav-color-gradient-level-3:#7b68eecc