#__nav
  width 100% !important
  box-sizing border-box
  height 59px
  position absolute
  background none
  top -59px
  transition-duration .2s
  margin-top 10px
  &.sticky
    position fixed
    top 0
    z-index 9995
    border 5px solid transparent
    border-radius 20px
    background-image linear-gradient(var(--h-nav-color-background), var(--h-nav-color-background)), linear-gradient(to right, var(--h-nav-color-gradient-level-1), var(--h-nav-color-gradient-level-2), var(--h-nav-color-gradient-level-3))
    background-origin border-box
    background-clip content-box, border-box
  @media screen and (max-width: 1260px)
    height 54px
    margin-top 10px
    
@media screen and (min-width: 1400px)
  body[data-sidebar-default='1']
    #__nav
      width calc(100% - 560px) !important
      margin 10px 155px 0px 155px
      .left
        display none !important
