@import 'dark/**/*'

html[data-theme='dark']
  --h-color alpha(white, .9)
  --h-color-blur alpha(white, .8)
  --h-color-blurrier alpha(white, .6)
  --h-color-blurriest alpha(white, .4)
  --h-color-background-level-1 #1e1f21
  --h-color-background-level-2 #292a2d
  --h-color-background-level-3 #353638
  --h-color-background-level-4 rgba(30, 31, 33, .6)
  --h-color-background-level-5: #5b5bda
  --h-color-theme #5db0d7
  --h-color-highlight: #688756
  --h-button-color alpha(white, .9)
  --h-button-color-background #353638
  --h-button-color-hover black
  --h-button-color-hover-background white
  --h-nav-color-background: #353638be
  --h-nav-color-gradient-level-1:#4864DAcc
  --h-nav-color-gradient-level-2:#da4864cc
  --h-nav-color-gradient-level-3:#7b68eecc
